$orange: #e86e2d;

.btn-primary {
  background-color: $orange;
  border-color: $orange;
  transition: all .5s ease;

  &:hover {
    background-color: darken($orange, 10);
    border-color: darken($orange, 10);
  }
}