@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

.order_status_select {
  max-width: 200px;
}

.orders-table {
  &_telegram-nick,
  &_ingress-nick {
    text-decoration: none;
    color: #212529;

    &:hover {
      text-decoration: underline;
    }
  }
}
