@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

@import "theme";
@import "header";

.main-alert {
  margin: 0 -15px;
}

.content {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  padding-top: 45px;
  padding-bottom: 45px;
  min-height: 60vh;
}

.categories {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  background: #ff9560;
}

.category {
  position: relative;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background: #ff9560;
  height: 75px;
  margin-right: 1px;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #fff;
    height: 50px;
    right: -1px;
  }

  &:last-of-type {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  @media (max-width: 991px) {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &:hover,
  &.active {
    background: #f05c12;
    color: #fff;
    text-decoration: none;
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product {
  padding: 0;
  margin: 10px 15px;
  width: 280px;
  transition: all .5s ease;
  //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &__image {
    border: 2px #ff9560 solid;
    //height: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    //max-width: 400px;
    margin-left: auto;

    img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    display: block;
    color: $orange;
    font-size: 1.2rem;
    text-align: center;
    min-height: 56px;

    &:hover {
      color: $orange;
    }
  }

  &__price {
    text-align: center;
    margin: 8px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__price_main {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: GeomGraphic, sans-serif;
    margin-bottom: 20px;
  }

  &__description {
      //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      width: 100%;
      padding: 15px;
      font-weight: bold;
      min-height: 300px;
      margin: 40px 0
  }

  &__size {
    border: 1px #ff9560 solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;

    &_active {
      background: #ff9560;
    }
  }

  &__name {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 45px;
    color: #d24913;
  }

  &-form {
    display: block;
    width: 100%;
  }

  &-quantity {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 8px;

    &__control {
      display: inline-block;
      width: 38px;
      height: 38px;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
    }

    &__input {
      display: inline-block;
      width: auto;
      max-width: 100px;
      margin: 0 6px;
      text-align: center;
    }
  }

  &__buy {
    height: 60px;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__thumb {
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__order {
    text-transform: uppercase;
    margin: 5px 0 0;
    width: 100%;
  }
}

@import "checkout";
@import "footer";
