@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

header {
    background-image: url('/img/bg_header.jpg');
    padding: 45px 0;

    .container {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .header {
      &__logo {
        height: 262px;
        width: auto;
      }

      &__title {
        font-family: GeomGraphic, sans-serif;
        color: #fff;
        font-size: 80px;
        line-height: 1;
        span {
          color: rgb(255, 124, 58);
        }
      }
    }
}

.content {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  padding-top: 45px;
  padding-bottom: 45px;
}

.category {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  background: #ff9560;
  height: 75px;

  &_navigation {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  }

  &_separator {
    width: 1px;
    background: #ff9560;

    &:last-of-type {
      display: none;
    }

    div {
      background: #fff;
      height: 50px;
      width: 1px;
    }
  }

  &:hover {
    background: #f05c12;
    color: #fff;
    text-decoration: none;
  }
}

.product {
  margin: 0 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 30px;

  &_thumb {
    margin: 10px;
    height: 300px;
    display: flex;

    img {
      width: 100%;
    }
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
