@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

$orange: #e86e2d;

header {
  background-image: url('/img/bg_header.jpg');
  background-size: cover;
  background-position-y: center;

  .container {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header {
    padding: 20px 0;
    flex-flow: row;

    &__logo {
      height: 180px;
      width: auto;
      margin: 0 40px 0 20px;
    }

    &__title {
      font-family: GeomGraphic, sans-serif;
      color: #fff;
      font-size: 3.2rem;
      line-height: 1;

      p {
        color: rgb(255, 124, 58);
        margin: 0;
      }
    }

    &-info {
      position: relative;
      flex-grow: 1;
      text-align: right;
      padding-right: 20px;

      &-contacts {
        font-size: 2rem;
        word-spacing: 6px;

        img {
          display: inline-block;
          margin-top: 5px;
          vertical-align: top;
          width: 36px;
          height: 36px;
        }
      }

      &__site-link {
        font-size: 1.2rem;
      }

      &__cart {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

.content {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  padding-top: 45px;
  padding-bottom: 45px;
}

.categories {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.category {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  background: #ff9560;
  height: 75px;

  &:hover,
  &.active {
    background: #f05c12;
    color: #fff;
    text-decoration: none;
  }

  &-separator {
    width: 1px;
    background: #ff9560;

    &:last-of-type {
      display: none;
    }

    div {
      background: #fff;
      height: 50px;
      width: 1px;
    }
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product {
  padding: 0;
  margin: 10px 15px;
  width: 280px;
  //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

  &:hover {
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &__price_main {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: GeomGraphic, sans-serif;
    margin: 20px 0;
  }

  &__description {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      width: 100%;
      padding: 15px;
      font-weight: bold;
      min-height: 300px;
      margin: 40px 0
  }

  &__size {
    border: 1px #ff9560 solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;

    &_active {
      background: #ff9560;
    }
  }

  &__name {
    font-size: 1.5rem;
    color: #d24913;
  }

  &__thumb {
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .btn {
      font-size: .84rem;
      text-transform: uppercase;
      margin: 5px 0 0;
    }
  }
}

@import "footer";
